<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace에 dao(mapper.java) -->
<mapper namespace="com.example.demo.mapper.BbsMapper">

	<insert id="bbsWrite" parameterType="com.example.demo.dto.BbsDTO">
		INSERT INTO bbs(userId, bbsContent) values (#{userId}, #{bbsContent});
	</insert>
	
	<select id="getMyBbsAll" parameterType="com.example.demo.dto.BbsDTO" resultType="com.example.demo.dto.BbsDTO">
		SELECT * FROM bbs WHERE userId = #{userId} AND bbsAvailable=1;
	</select>
	
	<select id="getBbsAll" parameterType="com.example.demo.dto.BbsDTO" resultType="com.example.demo.dto.BbsDTO">
		SELECT * FROM bbs WHERE bbsAvailable=1;
	</select>
	
	<select id="getBbsOne" parameterType="int" resultType="com.example.demo.dto.BbsDTO">
		SELECT * FROM bbs WHERE bbsId = #{bbsId} AND bbsAvailable=1;
	</select>
	
	<update id="bbsOneUpdate" parameterType="com.example.demo.dto.UserDTO">
		UPDATE bbs SET bbsContent=#{bbsContent} WHERE bbsId=#{bbsId};
	</update>
	
	<update id="bbsDelete" parameterType="int">
		UPDATE bbs SET bbsAvailable=0 WHERE bbsId=#{bbsId};
	</update>
</mapper>